a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
/*comment-article"*/
.comment-article {
  width: 100vw;
  position: relative;
}

.comment-title {
  width: 9.41rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid #000
}

.comment-title>a {
  width: 0.46rem;
  height: 0.46rem;
}

.comment-title>a>svg {
  width: 100%;
  height: 100%;
}

.comment-title>span {
  font-size: 0.50rem;
  color: #d52315
}

.comment-title>.back {
  position: static
}

form {
  width: 100vw;
}

#comment {
  display: block;
  width: 9.41rem;
  margin: 0 auto;
  border: none;
  margin-top: 0.55rem;
  outline: none;
  resize: none;
  height: 8.06rem;
}

.choose {
  width: 9.41rem;
  margin: 0 auto;
  display: none;
}

.photo{
  display: block;
  width: 9.41rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #e5e5e5;
}
.photo>.photo-content>svg {
  width: 0.7rem;
  margin: 0 auto;
  height: 0.6rem;
}
.photo-content>span{
  display: block;
  color: #d52315;
  font-size: 0.20rem;
}
.camera{
  margin: 0 auto;
  display: block;
  width: 9.41rem;
  border-bottom: 1px solid #000;
  padding: 0.3rem 0;
}
.camera>svg{
  width: 0.7rem;
  height: 0.6rem;
}
.bot-comment{
  width: 9.41rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.bot-comment>li{
  padding: 0.3rem 0;
  width: 50%;
}
.bot-comment>li>a{
  display: flex;
  justify-content: start;
}
.bot-comment>li>a>span>svg{
  width: 0.46rem;
  height: 0.46rem;
  padding-right: 0.5rem;
}
.bot-comment>li>a>span{
  font-size: 0.3rem;
  color: #000;
}