a{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
/*footer*/
footer{
  width: 100vw;
  background-color: #000;
  position: relative;
  height: 1.45rem;
  position:fixed;
  bottom: 0;
  z-index: 50
}
.footer-list{
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 0.2rem;
}
.footer-list>li{
  text-align: center;
  width: 25%;
}
.footer-list>li>a{
  width: 100%;
  display: block;
  color: #fff;
  text-align: center
}
.footer-list>li>a>span{
  display: block;
}
.footer-list>li>a>span:last-child {
  font-size: 0.15rem;
}
.footer-list>li>a>span>svg{
  width: 0.71rem;
  height: 0.71rem;
  margin: 0 auto;
}

.change{
  color: #d52315;
}
.img-change{
  fill: #d52315;
  
}
