main{
  width: 100vw;
  overflow: hidden;
}
.main-top{
  width: 100vw;
  position: relative;
  background: url('../images/person/background.jpg') no-repeat;
  padding-top: 1.89rem;
  padding-bottom: 1rem;
}
.setting{
  display: block;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  right: 0.6rem;
  top: 0.6rem;
}
.setting>svg{
  width: 100%;
  height: 100%;
}
.profile{
  width: 2.42rem;
  height: 2.42rem;
  margin: 0 auto;
  border-radius: 50%;
  border:5px solid rgba(255,255,255,0.3);
}
.profile>img{
  display: block;
  width: 100%;
  height: 100%;
}
.userName{
  display: block;
  width: 100vw;
  text-align: center;
  color: #fff;
  font-size: 0.6rem;
}
.user-Detail{
  width: 100vw;
  display: flex;
  justify-content: center;
}
.user-Detail>li{
  width: 1.8rem;
}
.user-Detail>li>span{
  display: block;
  font-size: 0.2rem;
  width: 100%;
  text-align: center;
  color: #fff
}
.main-mid{
  width: 100vw;
}
.main-mid-title{
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding:0.33rem 0
}
.mid-name{
  width: 3.12rem;
  color: #000;
  font-size: 0.5rem;
  padding-left: 0.15rem;
}
.show-all{
  display: block;
  line-height: 0.63rem;
  text-align: center;
  width: 2.23rem;
  background-color: #dd4f43;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
  color: #fff;
  font-size: 0.3rem;
  height: 0.63rem;;
}
.main-mid-con{
  width: 100vw;
}
.mid-img{
  width: 98%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between
}
.mid-img>li{
  width: 3.4rem;
}
.mid-img>li>img{
  width: 100%;
  display: block;
}
.mid-img>li>span{
  display: block;
  width: 100%;
  font-size: 0.3rem;
  padding-left: 0.3rem;
  line-height: 0.6rem;
}
.show-states{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color: #c9c9c9;
  }
  .show-states>a{
    width: 50vw;
    line-height: 0.86rem;
    font-size: 0.25rem;
  }
 .s-n{
    padding-right: 0.5rem;
   background: linear-gradient(#cd8c88, #d52315);
   color: #fff;
   text-align: right;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
   padding-right: 0.5rem;
  }
   
   .s-w {
    padding-left: 0.5rem;
    background-color: #c9c9c9;
    color: #000;
    text-align: left;
  }
  .bot-con{
    width: 100vw;
    background-color: #eee;
    display: flex;
    justify-content: space-around;
    padding: 0.16rem 0;
  }
  .bot-con>img{
    width: 5.16rem;
    height: 5.16rem;
  }
  /**/
  .main-inner{
    width: 200vw;
    display: flex;
    justify-content: space-between;
    transition: all 0.3s;
  }
  .main-con{
    width: 100vw;
  }
  .main-set{
    width: 100vw;
    background-color: #dee9ed;
    display: none;
  }
  /*.main-userset*/
  .main-userset{
    width: 100vw;
    display: none;
    background-color: #dee9ed;
  }
  .main-set-header,.main-user-header{
    width: 100vw;
    background: url('../images/person/top-back.jpg') no-repeat;
    background-size: contain;
    height: 1.3rem;
    position: relative;
  }
  .main-set-header>.back,.main-user-header>.back{
    display: block;
    width: 0.70rem;
    height: 0.7rem;
    position: absolute;
    left: 0.5rem;
    top: 0.3rem;
  }
  .main-set-header>.back>svg,.main-user-header>.back>svg{
    width: 100%;
    height: 100%;
  }
  .banben-detail,.set-detail,.privaty-detail,.user-detail{
    width: 100vw;
    background-color: #f0f0f2;
    margin-top: 0.18rem;
  }
  .banben-detail>li,.set-detail>li,.privaty-detail>li,.user-detail>li{
    width: 9.8rem;
    margin: 0 auto;
    border-bottom: 1px solid #a8a8aa;
    padding:0.2rem 0;
    display: flex;
    justify-content: space-between
  }
  .banben-detail>li,.set-detail>li{
    padding: 0.48rem 0
  }
  .privaty-detail>li svg,.user-detail>li svg{
    transform: rotate(180deg)
  }
  .banben-detail>li:last-child,.set-detail>li:last-child{
    border: none;
  }
  .banben-detail>li>span,.set-detail>li>span,.privaty-detail>li>span,.user-detail>li>span{
    font-size: 0.4rem;
  }
  .privaty-detail>li:first-child>span,.user-detail>li:first-child>span{
    line-height: 1.92rem;
  }
  .private,.code,.user-Profile{
    width: 3.16rem;
    display: flex;
    justify-content: flex-end;
  }
 .code>img,.user-Profile .profile{
    width: 1.92rem;
    height: 1.92rem;
  }
  .private>img{
    display: block;
    width: 0.6rem;
    height: 0.6rem;
  }
  .private>span{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
  }
 .code>span,.user-Profile>a{
    display: block;
    width: 0.7rem;
    height: 0.7rem;
    padding-top: 0.7rem;
  }
  .private>span>svg,.code>span>svg,.user-Profile>a>svg{
    width: 100%;
    height: 100%;
  }
  .set-detail>li>a,.privaty-detail>li>a,.user-detail>li>a{
    display: flex;
    font-size: 0.4rem;
    color: #000;
    justify-content: flex-end;
  }
  .set-detail>li>a>span{
    color: #d52315
  }
  .privaty-detail>li>a>span>svg,.user-detail>li>a>span>svg{
    width: 0.7rem;
    height: 0.7rem;
  }
  .privaty-detail>li:nth-child(3),.privaty-detail>li:nth-child(2),.user-detail>li:nth-child(2),.user-detail>li:last-child{
    padding: 0.48rem 0 
  }
  .privaty-detail>li:last-child,.user-detail>li:last-child{
    border: none;
  }
  .attention{
    width: 100vw;
    line-height: 0.6rem;
    background-color: #ccc;
    font-size: 0.3rem;
  }
  .bot-img{
    display: block;
    width: 100vw;
  }
  .go-on{
    transform: rotate(180deg);
    width: 0.7rem;
    height: 0.7rem;
  }
  .go-on>svg{
    width: 100%;
    height: 100%;
  }
  .bot-set{
    width: 100vw;
    background: url('../images/person/bottom-back.jpg') no-repeat;
    background-size: contain;
    padding:3rem 0
  }
  .bot-set>a{
    display: block;
    margin: 0 auto;
    width: 4.36rem;
    line-height: 1rem;
    font-size: 0.4rem;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    background:linear-gradient(#d52315,#c93f32);
  }
  .bot-set>p{
    width: 100vw;
    text-align: center;
    font-size: 0.2rem;
    line-height: 0.6rem;
  }